.product-browser-look{
    height: 1.25rem;
    background-color: #212529;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    position: sticky;
    z-index: 10;

    .circle{
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #fff;
        margin: 0.2rem;
    }
    
    .circle:nth-child(1){
        background-color: #ff4f00;
    }
}

.product-image{
    width: 100%;
    transition: all 10s ease;
}

.product-image:hover {
    transform: translateY(-100%);
}